<ion-header>
  <ion-toolbar>
    <ion-button href='/setting'>
      <ion-icon name="arrow-back"></ion-icon>返回
    </ion-button>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>工程实训</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label><b>学号：</b></ion-label>
          <ion-note slot="end">200325010</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><b>姓名：</b></ion-label>
          <ion-note slot="end">刘文祥</ion-note>
        </ion-item>
        <ion-item>
          <ion-label><b>已完成功能:</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            <p>欢迎界面</p>
            <p>注册界面 </p>
            <p>登录界面</p>
            <p>首页</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label><b>未完成功能：</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            <p>SO MANY</p>
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label><b>学习与收获：</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            前端的一些知识，ionic
          </ion-text>
        </ion-item>
        <ion-item>
          <ion-label><b>意见与建议</b></ion-label>
        </ion-item>
        <ion-item>
          <ion-text>
            无
          </ion-text>
        </ion-item>
      </ion-list>

      <ion-card-subtitle>日期</ion-card-subtitle>
      <div>
        <ion-datetime display-format="MM DD, YYYY HH:MM" value="2020-11-12T02:11" disabled="true"></ion-datetime>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>