<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="返回"></ion-back-button>
    </ion-buttons>
    <ion-title>找回密码</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    1、输入邮箱或者手机号>2、输入验证码>3、重置密码
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <img class="logo" src="assets/img/logo.png" alt="">
  </div>
  <ion-grid class="fixed">
    <ion-row>
      <ion-col class="ion-align-self-center">
        <img src="assets/img/registered_one.png" alt="" *ngIf="slideIndex!==0">
        <img src="assets/img/registered_one_one.png" alt="" *ngIf="slideIndex===0">
      </ion-col>
      <hr/>
      <ion-col class="ion-align-self-center">
        <img src="assets/img/registered_two.png" alt="" *ngIf="slideIndex!==1">
        <img src="assets/img/registered_two_two.png" alt="" *ngIf="slideIndex===1">
      </ion-col>
      <hr/>
      <ion-col class="ion-align-self-center">
        <img src="assets/img/registered_three.png" alt="" *ngIf="slideIndex!==2">
        <img src="assets/img/registered_three_three.png" alt="" *ngIf="slideIndex===2">
      </ion-col>
      <hr/>
      <ion-col class="ion-align-self-center">
        <img src="assets/img/register_four.png" alt="" *ngIf="slideIndex!==3">
        <img src="assets/img/register_four_four.png" alt="" *ngIf="slideIndex===3">
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-slides  #accountSlides  (ionSlideWillChange)="onSlideWillChange($event)">
    <ion-slide>
      <form (ngSubmit)="onSubmitAccount(accountForm)" #accountForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="account" type="string" placeholder="请输入您的手机号码或者邮箱" required  [(ngModel)]="accounts.account" #account="ngModel"></ion-input>
          </ion-item>
          <ion-text class="ion-text-center" color="danger" *ngIf="account.invalid && account.touched">
            <p [hidden]="!account.errors?.required" class="padding-start">请输入您的手机号码或者邮箱</p>
          </ion-text>
        </ion-list>
        <div class="ion-padding-horizontal">
          <ion-button *ngIf="slideIndex!==3" type="submit" expand="full" color="primary" [disabled]="accountForm.invalid">下一步</ion-button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <form (ngSubmit)="onSubmitCode(codeForm)" #codeForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="code" type="ion-text" slot="start" placeholder="输入验证码" required minlength="4" [(ngModel)]="accounts.code" #code="ngModel"></ion-input>
            <ion-button color="primary" expand="full" slot="end" [disabled]="countDown" (click)="onSendSMS()">{{showButtonText}}</ion-button>
          </ion-item>
          <ion-text class="ion-text-center" color="danger" *ngIf="code.invalid && code.touched">
            <p [hidden]="!code.errors?.required" class="padding-start">请输入验证码</p>
          </ion-text>
        </ion-list>
        <div class="ion-padding-horizontal">
          <ion-button *ngIf="slideIndex!==3" type="submit" expand="full" color="primary" [disabled]="codeForm.invalid">下一步</ion-button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <form (ngSubmit)="onSubmitUser(userForm)" #userForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-input name="password" type="password" placeholder="请输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="accounts.password" #password="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-center" color="danger" *ngIf="password.invalid && password.touched">
            <p [hidden]="!password.errors?.required" class="padding-start">请输入密码</p>
            <p [hidden]="!password.errors?.pattern" class="padding-start">密码包含大小写字母和数字且长度在8-16位</p>
          </ion-text>
          <ion-item>
            <ion-input name="confirmPassword" type="password" placeholder="请再次输入您的密码" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$" [(ngModel)]="accounts.confirmPassword" #confirmPassword="ngModel">
            </ion-input>
          </ion-item>
          <ion-text class="ion-text-center" color="danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
            <p [hidden]="!confirmPassword.errors?.required" class="padding-start">请再次输入密码</p>
            <p [hidden]="!confirmPassword.errors?.pattern" class="padding-start">密码包含大小写字母和数字且长度在8-16位</p>
          </ion-text>
        </ion-list>
        <div class="ion-padding-horizontal">
          <ion-button type="submit" expand="full" color="primary" [disabled]="userForm.invalid">重置密码</ion-button>
        </div>
      </form>
    </ion-slide>

    <ion-slide>
      <h1>密码修改成功！</h1>
        <div class="ion-padding-horizontal">
          <ion-button type="submit" expand="full" color="primary" href="/passport/login">登录</ion-button>
        </div>
    </ion-slide>
  </ion-slides>
</ion-content>
