<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button text="返回">
      </ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngIf="category.id==0" lines="none">
    <ion-label position="fixed">大分类</ion-label>
    <ion-input name="categoryName" [(ngModel)]="categoryName" placeholder="商品大分类名称" required></ion-input>
  </ion-item>

  <ion-item-divider>
    <ion-label *ngIf="category.id!=0">{{category.name}}</ion-label>
  </ion-item-divider>
  <ng-container *ngFor="let c of category.children">
    <ion-item lines="none">
      <ion-label position="fixed">小分类</ion-label>
      <ion-input name="smallCategory" [(ngModel)]="c.name" type="text" required placeholder="商品小分类名称"></ion-input>
    </ion-item>

    <ion-item-divider>
    </ion-item-divider>
  </ng-container>
</ion-list>
<ion-button fill="clear" (click)="onAddSubCategory()">
  <ion-icon name="add-circle" slot="start"></ion-icon>新增小分类
</ion-button>
<div class="ion-padding-horizontal ion-margin-top">
  <ion-button expand="full" color="primary" (click)="onSave()">保存</ion-button>
</div>
</ion-content>
