<ion-header>
  <ion-toolbar>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #passwordForm>
  <ion-list>
    <ion-item lines="none">
      <ion-label position="floating">输入旧密码</ion-label>
      <ion-input name="oldPassword" #oldPassword="ngModel"  [(ngModel)]="viewObject.oldPassword" required type="password">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="oldPassword.invalid && oldPassword.touched" lines="none">
      <ion-text color="danger" *ngIf="oldPassword.errors?.required">
        请输入旧密码
      </ion-text>
    </ion-item>
    <ion-text [hidden]="isRight" padding-start color="danger">您输入的旧密码不正确</ion-text>
  
    <ion-item lines="none">
      <ion-label position="floating">输入新密码</ion-label>
      <ion-input name="newPassword" #newPassword="ngModel"  [(ngModel)]="viewObject.newPassword" required type="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[^]{8,16}$">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="newPassword.invalid && newPassword.touched" lines="none">
      <ion-text color="danger" *ngIf="newPassword.errors?.required">
        请输入新密码
      </ion-text>
      <ion-text color="danger" *ngIf="newPassword.errors?.pattern">
        密码包含大小写字母和数字且长度在8-16位
      </ion-text>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="floating">再输入一次新密码</ion-label>
      <ion-input name="confirmPassword" #confirmPassword="ngModel"  [(ngModel)]="viewObject.confirmPassword" [lwxConfirm]="viewObject.newPassword" required type="password">
      </ion-input>
    </ion-item>
    <ion-item *ngIf="confirmPassword.invalid && confirmPassword.touched" lines="none">
      <ion-text color="danger" *ngIf="confirmPassword.errors?.confirm">
        两次密码不一致
      </ion-text>
      <ion-text color="danger" *ngIf="confirmPassword.errors?.required">
        请输入确认密码
      </ion-text>
    </ion-item>
  </ion-list>
  <div class="ion-padding-horizontal">
    <ion-button expand="block" [disabled]="confirmPassword.invalid" (click)="updatePassword()">重置密码</ion-button>
  </div>
</form>
</ion-content>
